

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #00509e;
}

.section {
    margin-bottom: 20px;
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.section p {
    line-height: 1.6;
}

.solution {
    background-color: #e0f7fa;
    padding: 15px;
    border-left: 5px solid #00796b;
    border-radius: 4px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.images img {
    width: 48%;
    border-radius: 8px;
}


.bn30 {
    margin-top: 50px;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

  .rodape {
    margin-top: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

.rodape p {
    margin: 0;
    font-size: 0.9em;
}